.cabecera {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cabecera .cabecera-container {
  width: 100%;
}

.cabecera img {
  /* background: red; */
  width: 100%;
}

.search-filtro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.search-container {
  background-color: rgba(30, 147, 92, 0.47);
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.search-container input {
  flex: 1 1 auto;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 10px;
  color: #046e24;
}

.search-container input::placeholder {
  color: #046e24;
}

.search-container button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 75px;
}

.filtro {
  position: relative;
  z-index: 10;
}

.filtro > button,
.filtro > a {
  background-color: rgba(30, 147, 92, 0.47);
  color: #046e24;
  border-color: rgba(30, 147, 92, 0.47);
  border-radius: 20px;
  height: 100%;
  width: 75px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.libros button {
  width: 75px;
  height: 45px;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: rgba(30, 147, 92, 0.47);
  color: #046e24;
  border-color: rgba(30, 147, 92, 0.47);
}

.libros h5 {
  color: #046e24;
}

#libros .input {
  width: 75px;
  height: 50px;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: rgba(30, 147, 92, 0.47);
  color: #046e24;
  border-color: rgba(30, 147, 92, 0.47);
}

.libros-container div:nth-child(2n + 1) {
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
}

.product {
  padding: 10px;
}

.product a {
  display: inline-flex;
  background-color: rgba(30, 147, 92, 0.47);
  color: #046e24;
  border-color: rgba(30, 147, 92, 0.47);
  border-radius: 20px;
  height: 40px;
  width: 75px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .search-filtro-container {
    flex-direction: column;
    gap: 10px;
    height: auto;
  }
  .search-filtro-container .filtro {
    align-self: flex-end;
  }
  .search-container {
    width: 100%;
  }
}
